<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
            <label class="control-label" for="oldEmail"><b>Старый E-mail</b></label>
            <div class="controls">
                <input class="form-control " type="email" id="oldEmail" name="oldEmail" placeholder="Введите старый E-mail">
            </div>
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="newEmail"><b>Новый E-mail</b></label>
            <div class="controls">
                <input class="form-control " type="email" id="newEmail" name="newEmail" placeholder="Введите новый E-mail">
            </div>
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <button id="btn-changeEmail" type="button" class="btn btn-primary btn-sm pull-right">Сохранить</button>
        </div>
    </div>
</div>
