<form class="form-horizontal" id="loginForm">
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label" for="userName"><b>Для восстановления пароля введите ваш электронный адрес</b></label>
                <input class="form-control input-sm" type="text" id="userName" name="userName" placeholder="Введите E-mail">
                <span class="help-block  pull-right" id="errorlabel"></span>
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <a id="backToLogin" class="pull-left" href="#/"> Назад</a>
        <a class="btn btn-sm" data-dismiss="modal" aria-hidden="true" id="loginClose">Закрыть</a>
        <a class="btn btn-primary btn-sm" id="restore">Восстановить</a>
    </div>
</form>
