<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
            <label class="control-label" for="oldPassword"><b>Старый пароль</b></label>
            <div class="controls">
                <input class="form-control" type="password" id="oldPassword" name="oldPassword" placeholder="Введите старый пароль">
            </div>
            <span class="help-block hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="newPassword"><b>Новый пароль</b></label>
            <div class="controls">
                <input class="form-control" type="password" id="newPassword" name="newPassword" placeholder="Введите новый пароль">
            </div>
            <span class="help-block   hidden"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="newPasswordConfirm"><b>Подтверждение нового пароля</b></label>
            <div class="controls">
                <input class="form-control" type="password" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="Подтвердите новый пароль">
            </div>
            <span class="help-block  hidden"></span>
        </div>
        <div class="form-group">
            <button id="btn-changePassword" type="button" class="btn btn-primary btn-sm pull-right">Сохранить</button>
        </div>
    </div>
</div>
