<div class="row"><div class="col-sm-12"><h4 class="pull-left" id="managementTitle">Поиск поездки</h4></div></div>
<div id="searchForm"></div>
<div class="collapse" id="advancedSearchCollapse">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="waypoints" class="control-label"><b>Промежуточные пункты:</b></label>
                <input type="text" class="form-control " id="waypoints" placeholder="Новый пункт" />
                <input type="text" class="form-control" id="tags" />
            </div>
        </div>
    </div>
    <div id="collapseContainer">

    </div>
</div>
<div id="searchResult"></div>
<div class="row"><div class="col-sm-12 text-right" id="paginator"></div></div>