<div class="panel panel-default">
    <a class="list-group-item link-details">
        <div class="row">
            <div class="col-sm-3">
                <h5>
                    <span id="ownerName">Святослав Пивторопавлов</span>
                </h5>
            </div>
            <div class=" col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            <span id="startName">Владикавказ</span> -
                            <span id="destName">Санкт-Петербург</span>
                            <br />
                            <small>
                                <span>свободых мест: <span id="freeSlots" class="text-primary">12</span></span>
                            </small>
                        </h5>
                    </div>
                    <div class="col-sm-3">
                        <h5>
                            <span id="expirationDate">31/05/2015</span>
                            <br />
                            <small>
                                дата поездки
                            </small>
                        </h5>
                    </div>
                    <div class="col-sm-3">
                        <h5>
                            <span id="payment" class="text-primary">5 000 р.</span>
                            <br />
                            <small> с пассажира</small>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="panel-footer">
        <div class="row ">
            <div class="col-sm-3 pull-left">
                <strong>
                    <span id="tourStatus">

                    </span>
                </strong>
            </div>
            <div class="col-sm-6 pull-right">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a class="btn btn-default btn-xs link-modify"><span class="glyphicon glyphicon-cog "></span> Редактировать</a>
                    <a class="btn btn-default btn-xs link-delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>