<a class="list-group-item">
    <div class="row">
        <div class="col-sm-3">
            <h5>
                <span id="ownerName">Вася Пупкин</span>
                <br />
                
            </h5>
        </div>
        <div class=" col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <h5>
                        <span id="startName"></span> -
                        <span id="destName"></span>
                        <br />
                        <small>
                            <span id="slots">свободых мест: <span id="freeSlots" class="text-primary">12</span></span>
                        </small>    
                       
                    </h5>
                </div>
                <div class="col-sm-3">
                    <h5>
                        <span id="expirationDate"></span>
                        <br />
                        <small>
                            дата поездки
                        </small>
                    </h5>
                    
                </div>
                <div class="col-sm-3">
                    <h5>
                        <span id="payment" class="text-primary"></span>
                        <br />
                        <small> с пассажира</small>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</a>