<div class="row">
    <div class="col-md-3">
        <form id="carImageForm" enctype="multipart/form-data">
            <div align="center">
                <a id="carImageLink" data-lightbox="car-image" data-title="Фото автомобиля, на котором осуществляется поездка" >
                    <img width="309" height="232" id="carImage" class="img-thumbnail">
                </a>
                <div class=" center-block ">
                    <a class=" btn btn-default btn-xs" id="fileUpload">Загрузить</a>
                    <a id="deleteCarImage" class="btn btn-default btn-xs">Удалить</a>
                    <input type="file" name="carImage" id="uploadField" class="hidden" accept="image/*">
                </div>
            </div>
        </form>
    </div>
    <div class=" col-md-9">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="carDescription"><b>Машина:</b></label>
                    <input type="text" class="form-control" id="carDescription" placeholder="Модель автомобиля">
                    <span class=" help-block pull-right"></span>
                </div>
                <div class="form-group">
                    <label for="comfort"><b>Комфорт:</b></label>
                    <select class="form-control" id="comfort">
                        <option value="0">Низкий</option>
                        <option value="1">Средний</option>
                        <option value="2">Высокий</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="baggage"><b>Багаж:</b></label>
                    <select class="form-control" id="baggage">
                        <option value="0">Ручная кладь</option>
                        <option value="1">Небольшой багаж</option>
                        <option value="2">Полный багажник</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ownerExperience"><b>Водительский стаж:</b></label>
                    <input type="text" class="form-control" id="ownerExperience" placeholder="Водительский стаж">
                    <span class="help-block pull-right"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label><b>Дополнительные настройки:</b></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="isDeviationAllowed" id="isDeviationAllowed" value="true"> Возможны отклонения от маршрута
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="isPetsAllowed" id="isPetsAllowed" value="true"> Можно ехать с животными
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="isMusicAllowed" id="isMusicAllowed" value="true"> Можно выбирать музыку
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="isFoodAllowed" id="isFoodAllowed" value="true"> В машине можно есть
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="isDrinkAllowed" id="isDrinkAllowed" value="true"> В машине можно пить
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="isSmokeAllowed" id="isSmokeAllowed" value="true"> В машине можно курить
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="additionalInfo"><b>Доп. инфо:</b></label>
                    <textarea class="form-control" id="additionalInfo" name="additionalInfo" placeholder="Пожелания и дополнительная информация" rows="4" />
                    <span class="help-block pull-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>