<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Регистрация пользователя</h4>
        </div>
        <form class="form-horizontal" id="registrationForm">
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="email"><b>E-mail</b></label>
                        <input class="form-control input-sm" type="email" name="userName" id="userName" placeholder="Введите E-mail">
                        <span class="help-block  pull-right "></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="firstName"><b>Имя</b></label>
                        <input class="form-control input-sm" type="text" name="firstName" id="firstName" placeholder="Введите ваше имя">
                        <span class="help-block  pull-right"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="lastName"><b>Фамилия</b></label>
                        <input class="form-control input-sm" type="text" name="lastName" id="lastName" placeholder="Введите вашу фамилию">
                        <span class="help-block  pull-right"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="password"><b>Пароль</b></label>
                        <input class="form-control input-sm" type="password" name="password" id="password" placeholder="Введите пароль">
                        <span class="help-block  pull-right"></span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword"><b>Подтвердите пароль</b></label>
                        <input class="form-control input-sm" type="password" name="confirmPassword" id="confirmPassword">
                        <span class="help-block  pull-right"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm" data-dismiss="modal" aria-hidden="true" id="registerClose">Закрыть</a>
                <a class="btn btn-primary btn-sm" id="register">Регистрация</a>
            </div>
        </form>
    </div>
</div>
