<div class="panel panel-default">
    <a class="list-group-item collapse-link" data-toggle="collapse" href="#userCollapse" aria-expanded="false">
        <div class="row">
            <div class="col-sm-3">
                <h5>
                    <span id="ownerName">Святослав Пивторопавлов</span>
                </h5>
            </div>
            <div class=" col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            <span id="startName">Владикавказ</span> -
                            <span id="destName">Санкт-Петербург</span>
                            <br />
                            <small>
                                <span id="slots">свободых мест: <span id="freeSlots" class="text-primary">12</span></span>
                            </small>
                        </h5>
                    </div>
                    <div class="col-sm-3">
                        <h5>
                            <span id="expirationDate">31/05/2015</span>
                            <br />
                            <small>
                                дата поездки
                            </small>
                        </h5>
                    </div>
                    <div class="col-sm-3">
                        <h5>
                            <span id="payment" class="text-primary">5 000 р.</span>
                            <br />
                            <small> с пассажира</small>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="panel-footer">
        <div class="row ">
            <div class="col-lg-6 pull-left">
                <strong><span class=" bid-status"> </span></strong>
            </div>
            <div class="col-lg-6 pull-right">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <a class="btn btn-default btn-xs link-accept"><span class="glyphicon glyphicon-ok"></span> Принять</a>
                    <a class="btn btn-default btn-xs link-reject"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Отклонить</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="collapse" id="userCollapse">

                </div>
            </div>
        </div>
    </div>
</div>