<div class="row">
    <div class="col-sm-2 pull-left">
        <img class="img-thumbnail" id="userAvatar" src="Content/uploads/img/avatars/2.JPG" height="100" width="100" >
    </div>
    <div class="col-sm-2 pull-left">
        <address>
            <strong id="firstName">Святослав Пивторопавлов</strong><br />
            <a id="email">svyatoslavv@gmail.com</a> <br />
            <span id="phone">89508459429</span><br />
        </address>
        
    </div>
    <div class="col-md-2 pull-left">
        <strong>Возраст: </strong><span id="age">55</span><br />
        <strong>Поездок: </strong> <span id="toursCount">123</span><br />
        <div id="userRating">
        </div>
    </div>
    <div class="col-md-5">
        <strong>О себе: </strong><p id="about">БлаблаблаблаблаблаБл аблаблаблаблаблаБлабл аблаблаблаблаБлаблабл аблаблаблаБлаблаб лаблаблабла</p>
    </div>
</div>
