<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <img width="110" height="176" class="img-thumbnail" id="userAvatar">
            <address>
                <strong id="firstName"></strong><br />
                <a id="email"></a> <br />
                <span id="phone"></span><br />
            </address>
            <strong>
                Рейтинг:
            </strong>
            <div id="userRating">
            </div>
        </div>
        <hr />
        <strong>Возраст: </strong><span id="age"></span><br />
        <strong>Поездок: </strong> <span id="toursCount"></span><br />
        <strong>О себе: </strong><span id="about"></span>
        <hr />
    </div>
</div>
